// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

$clr: red;
$accordion-color: black;

html {
    height: 100%;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.main__search {
    height: 30px;
    border-radius: 5px;
}

.header__cart {
    background: url('./assets/icons/basket.png');
    background-size: cover;
    width: 60px;
    height: 60px;
}

.header__cart-quntity {
    background: white;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 80%;
    color: black !important;
}

.aside {
    width: 350px;
    height: fit-content;
    border: .1px $gray-400 solid;
    border-radius: 5px;
    margin-right: 20px;
    flex-grow: 0;
    padding: 5px;
}

.switch {
    border: 1px solid;
    width: 99%;
    height: 28px !important;
    padding-bottom: 5px;
    position: absolute;
    top: 95px;
    left: .5%;
    z-index: 300;
}

.aside.in {
    animation-duration: 1s;
    animation-name: slidein;
}

.aside.out {
    animation-duration: 1s;
    animation-name: slideout;
}

@keyframes slidein {
    from {
        margin-left: 0;
    }

    to {
        margin-left: -350px;
    }
}

@keyframes slideout {
    from {
        margin-left: -350px;
    }

    to {
        margin-left: 0;
    }
}

.aside__buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.checkboxes {
    height: 25vh;
    border: .1px $gray-500 solid;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.range {
    height: 15vh;
    border: .1px $gray-500 solid;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.checkbox__header {
    height: 10%;
}

.range__header {
    height: 20%;
}

.range__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.range__content>span {
    display: block;
}

.range__values {
    width: 100%;
    padding: 0 50px;
}

.checkbox__content {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    padding: 5px;
    flex-direction: column;
}

.form-check-label {
    margin-left: 10px;
}

.aside__header {
    width: 100%;
    background-color: $dark;
    color: white;
    text-transform: uppercase;
}

.checkbox__content>div {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zero {
    color: $gray-500;
}

.main {
    width: 100%;
    margin-top: 120px;
    display: flex;
    padding: 10px;
    flex: 1 0 auto;
}

.products {
    width: 70%;
    flex-grow: 1;
}

.accordion-body {
    flex-wrap: wrap;
    gap: 20px;
}

.main__filters {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.main__content {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.form-select {
    width: 200px;
}

.size {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    flex-wrap: wrap;
}

.size>div {
    border-radius: 20px;
    border: 1px solid;
    margin: 2px;
    background-color: white;
}

.size__large>div {
    width: 35%;
    height: 35%;
}

.size__small>div {
    width: 20%;
    height: 20%;
}

.size.active {
    background-color: rgb(231, 231, 231);
}

.header__cart:hover,
.size:hover {
    transition: all 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}

.card {
    width: 23%;
    min-width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    background-size: cover !important;
    background-position: center !important;
    margin-bottom: 10px;
}

.card.active {
    border: $danger solid;
}

.card__description-list {
    list-style-type: none;
    font-size: 60%;
    line-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card__description {
    position: absolute;
    top: 20%;
    background-color: white;
    width: 145px;
    border-radius: 0 0 10px;
}

.card__discription-item {
    margin-left: -10px !important;
}

.card__header {
    height: 20%;
    color: white;
    font-size: 90%;
    padding-left: 5px;
    text-overflow: ellipsis;
}

.card__span {
    padding-left: 5px;
    text-align: right;
}

.card__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

.add::before {
    content: 'ADD TO ';
}

.remove::before {
    content: 'REMOVE FROM ';
}

.btn {
    font-size: 70% !important;
    height: 70%;
    margin-left: 4px;
}

.card__id {
    opacity: 0;
}

.footer {
    width: 100%;
    min-height: 100px;
    background-color: black;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}

.footer_img-rs {
    width: 100px;
    height: 100px;
}

.footer_date {
    color: white;
}

.footer_img-git {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border: 0.1px solid white;
    background-color: white;
    border-radius: 30px;
}

.footer__produced {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 70px;
}

.footer__header {
    display: block;
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: start;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 100;
    height: 50px;
}

.product-details {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
}

.product-details__container {
    width: 100%;
    border: 2px solid white;
    border-radius: 1rem;
    background: rgba(24, 26, 28, 0.5);
    overflow: hidden;
}

.product-details__title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
}

.product-data {
    display: flex;
    width: 100%;
    padding: 0.5%;
}

.product-photo {
    width: 40%;
    display: flex;
}

.slides-photo {
    width: 25%;
}

.grand-photo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides-photo img {
    width: 80%;
    border: 1px solid white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2px;
}

.grand-photo img {
    max-height: 40vh;
    width: auto;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 0.5rem;
}

.product-info {
    width: 40%;
}

.product-detail-item {
    margin: 1% auto;
    border: 1px solid white;
    border-radius: 0.3rem;
    overflow: hidden;
    text-align: center;
}

.product-detail-item h3 {
    text-align: center;
    padding: 1%;
}

.product-detail-item p {
    padding: 1%;
    margin-bottom: 0;
}

.add-to-cart {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-button {
    width: 90%;
    font-size: 200%;
    color: white;
    text-shadow: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px red;
}

@media screen and (max-width: 700px) {
    h4 {
        font-size: 14px;
    }
h1 {
    font-size: 22px !important;
    width: 25% !important;
}
.header__sum {
    text-align: center;
    margin-left: -60px;
}
.footer {
    justify-content: center;
} 
.main__content {
    justify-content: center;
    gap: 20px;
}
.switch {
    margin-left: 0;
}
    p {
        font-size: 14px;
    }

    .product-data {
        flex-direction: column;
        align-items: center;
    }

    .add-to-cart {
        display: flex;
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .aside {
        position: fixed;
        left: 0;
        width: 300px;
        z-index: 200;
        opacity: 1;
        background-color: white;
        font-size: 12px;
    }

}