// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

$clr: red;
$accordion-color: black;

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.main__search {
    height: 30px;
    border-radius: 5px;
}

.header__cart {
    background: url('./assets/icons/basket.png');
    background-size: cover;
    width: 60px;
    height: 60px;
}

.header__cart-quntity {
    background: white;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 80%;
    color: black !important;
}

.aside {
    min-width: 25vw;
    border: 1px green solid;
    margin-right: 20px;
}

.main {
    width: 100%;
    margin-top: 120px;
    display: flex;
}

.products {
    width: 70%;
}

.main__filters {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.main__content {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.form-select {
    width: 200px;
}

.card {
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    margin: 10px;
    background-size: contain;
}

.card.active {
    border: $danger solid;
}

.card__description-list {
    list-style-type: none;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.card__description {
    position: absolute;
    top: 15%;
    background-color: white;
    width: 145px;
    border-radius: 0 0 10px;
}

.card__discription-item {
    margin-left: -10px !important;
}

.card__buttons {
    height: 20%;
}

.card__header {
    height: 15%;
    color: white;
    line-height: 40px;
}

.card__header {
    background-color: white;
}

.card__span {
    padding-left: 5px;
    text-align: right;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-size: 10px !important;
}

.card__id {
    opacity: 0;
}

.footer {
    width: 100%;
    min-height: 100px;
    background-color: black;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer_img-rs {
    width: 100px;
    height: 100px;
}

.footer_date {
    color: white;
}

.footer_img-git {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border: .1px solid white;
    background-color: white;
    border-radius: 30px;
}

.footer__produced {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer__header {
    display: block;
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: start;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 100;
    height: 50px;
}




.product-details {
    width: 80%;
    height: fit-content;
    margin: 82px auto;
}
.product-details__container {
    width: 100%;
    border: 2px solid white;
    border-radius: 1rem;
    background: rgba(24,26,28,.5);
    overflow: hidden;
}
.product-details__title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
}
.product-data {
    display: flex;
    width: 100%;
    padding: .5%;
}
.product-photo {
    width: 40%;
    display: flex;
}
.slides-photo {
    width: 25%;
}
.grand-photo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slides-photo img {
    width: 80%;
    border: 1px solid white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.grand-photo img {
    max-height: 40vh;
    width: auto;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 0.5rem;
}
.product-info {
   width: 40%;
}

.product-detail-item {
    margin: 1% auto;
    border: 1px solid white;
    border-radius: 0.3rem;
    overflow: hidden;
    text-align: center;
}

.product-detail-item h3 {
    text-align: center;
    padding: 1%;
}

.product-detail-item p {
    padding: 1%;
    margin-bottom: 0;
}

.add-to-cart {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-button{
    width: 90%;
    font-size: 200%;
    color: white;
    text-shadow: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px red;
}

@media screen and (max-width: 700px) {

   h4{
    font-size:14px;
   }
   p{
    font-size:14px;
   }
   .product-data{
    flex-direction: column;
    align-items: center;
   }
   .add-to-cart {
    display:flex;
    width:100%;
   }

}