// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
* {
    box-sizing: border-box;
}
$clr:red;
$accordion-color: black;
.body {
    display: grid;
    gap: 10px;
    min-height: 100vh;
    grid-template-areas: 
    "A A A A A A A A A A A A A A"
    "B B C C C C C C C C C C C C" 
    "B B C C C C C C C C C C C C"
    "B B C C C C C C C C C C C C" 
    "B B C C C C C C C C C C C C" 
    "B B C C C C C C C C C C C C" 
    "B B C C C C C C C C C C C C" 
    "B B C C C C C C C C C C C C"  
    "B B C C C C C C C C C C C C" 
    "B B C C C C C C C C C C C C" 
    "D D D D D D D D D D D D D D";
}
.header {
    grid-area: A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}
.main__search {
    height: 30px;
    border-radius: 5px;
}
.header__cart {
    background: url('./assets/icons/basket.png');
    background-size: cover;
    width: 50px;
    height: 50px; 
}
.aside {
min-width: 25vw;
    grid-area: B;
    border: 1px green solid;
}
.main {
    grid-area: C;
}
.main__filters {
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 100;
}
.main__content {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-select {
    width: 200px;
}
.card {
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    margin: 10px;
    background-size: contain;
}
.card.active {
    border: solid;
}
.card__description-list {
    list-style-type: none;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.card__description {
    position: absolute;
    top: 15%;
    background-color: white;
    width:145px;
    border-radius: 0 0 10px;
}
.card__discription-item {
margin-left: -10px !important;
}
.card__buttons {
    height: 20%;
}
.card__header {
    height: 15%;
    color: white;
   line-height: 40px;
}
.card__header {
    background-color: white;
}
.card__span {
    padding-left: 5px;
    text-align: right;
}
.card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__id {
    opacity: 0;
}
.footer {
    width: 100%;
    grid-area: D;
    height: 50px;
}




.product-details {
    width: 80%;
    height: fit-content;
}

.product-details__container {
    width: 100%;
    border: 2px solid white;
    border-radius: 1rem;
    background: rgba(24,26,28,.5);
    overflow: hidden;
}

.product-details__title {
    width: 100%;
    text-align: center;
    background: #181a1c;
    border-bottom: 1px solid white;
}

