<div class="product-details">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item"><a href="#">${currentProduct.category}</a></li>
      <li class="breadcrumb-item"><a href="#">${currentProduct.brand}</a></li>
      <li class="breadcrumb-item active" aria-current="page">${currentProduct.title}</li>
    </ol>
  </nav>
    
  <div class="product-details__container container">
    
    <h2 class="product-details__title">${currentProduct.title}</h2>
    

  </div>
</div>